* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



/* PALETA DE COR */

:root {
    --branco: #fff;
    --rosa: #E1AEB3;
    --rose: #E1AEB3;
    --vinho: #611E01;
    --marrom: #520909;
    --vermelho: #812122;
    --preto: #150F0B;
    --cinza: #BCBCBC;
    --bege: #BEB3B3;
    --cinzaEscuro: #948C8C;
    --rosaclaro: #FFE6EF;
}
@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);

}

@font-face {
  font-family: Rosaline;
  src: url(./fonts/Rosaline.otf);

}

body {
    background-color: var(--branco);
}

/* HEADER */
header {
    width: 100%;
    background-color: var(--preto);
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 221px;
    /* background-color: #150F0B; */

}

.container-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo {
    width: 155px;
}

.links {
    /* background-color: rgb(234, 212, 255); */
    display: flex;
    align-items: center;
    gap: 40px;
}

.links a {
    font-size: 25px;
    color: var(--rosaclaro);
    text-decoration: none;
    font-family: "Rosaline", regular;
}

.links a:hover {
    color: var(--vinho);
    /* border-bottom: 1px solid var(--vinho); */
}

#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}

/* BANNER */
.banner {
    background: url(./banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 221px);
    width: 100%;

}

.servicos{
    font-size: 40px;
    align-items: center;
    color: var(--marrom);
    margin-left: 750px;
    margin-top: 90px;
    font-family: "Rosaline", Regular;
   
}


